<!DOCTYPE html>
<html>
  <head>
    <title>Shows</title>
  </head>
  <body>
    <h1>Shows</h1>
    <form action="/order" method="POST">
      <% seatData.forEach((seat) => { %> <input type="checkbox" name="seat"
      value="<%= seat.hallSeat_id %>" <%= seat.status !== 'NotReserved' ?
      'disabled' : '' %> />
      <p class="seatRow"><%= seat.seat_row %><%= seat.seat_number %></p>
      <% }); %>
      <h3 class="id"><%= id %></h3>
      <input type="hidden" name="showId" value="<%= seatData[0].id %>" />
      <button type="submit">Submit</button>
    </form>
  </body>
  <script></script>
</html>
