<!DOCTYPE html>
<html>
  <head>
    <title>Shows</title>
  </head>
  <body>
    <h1>Shows</h1>
    <form id="form" method="post">
      <% seatData.forEach((seat) => { %> <input type="checkbox" id="showSeatId"
      name="showSeatId" value="<%= seat.id %>" <%= seat.status !== 'NotReserved'
      ? 'disabled' : '' %> />
      <p class="seatRow"><%= seat.seat_row %><%= seat.seat_number %></p>
      <% }); %>
      <input
        type="hidden"
        id="showIds"
        name="showId"
        value="<%= seatData[0].show_id %>"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const form = document.getElementById("form");

    form.addEventListener("submit", async function (e) {
      e.preventDefault();

      const formData = new FormData(form);
      const data = {
        showSeatId: formData.get("showSeatId"),
        showId: formData.get("showId"),
      };

      try {
        const res = await axios.post("/order", data);
        console.log(res);
        if (res.data === "sorry, no ticket") {
          alert("sorry, no ticket");
        } else {
          window.location.assign("/ticket/checkout");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
