<!DOCTYPE html>
<html>
  <head>
    <title>Shows</title>
  </head>
  <body>
    <h1>Shows</h1>
    <form id="form" method="post">
      <% seatData.forEach((seat) => { %>
      <p class="seatRow"><%= seat.seat_row %><%= seat.seat_number %></p>
      <input type="checkbox" id="showSeatId" name="showSeatId" value="<%=
      seat.id %>" <%= seat.status !== 'NotReserved' ? 'disabled' : '' %> /> <%
      }); %>
      <input
        type="hidden"
        id="showId"
        name="showId"
        value="<%= seatData[0].show_id %>"
      /><br />
      <button type="submit">Submit</button>
    </form>
  </body>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const form = document.getElementById("form");

    form.addEventListener("submit", async function (e) {
      e.preventDefault();

      const formData = new FormData(form);
      console.log([...formData]);
      const data = {
        showSeatId: formData.getAll("showSeatId"),
        showId: formData.get("showId"),
      };

      console.log("data" + data);

      try {
        const res = await axios.post("/order", data);
        console.log(res);
        if (res.data === "sorry, no ticket") {
          alert("sorry, no ticket");
          location.reload();
        } else {
          window.location.assign("/ticket/checkout");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
